.cards {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
  
h1 {
  text-align: center;
}

/* .cards__container {
  height: 100%;
  padding: 20px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2vw;
} */

.cards__container {
  height: 100%;
  width: 1300px;
  padding: 20px 20px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  grid-gap: 20px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: end;
}