.cards {
    background-color: #000;
};

.cards__H1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 64px;
};

.cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
};

.cards__items {
    margin-bottom: 24px;
};
  
.cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
};

@media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    };
};
  
@media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    };
};