.cards {
  padding: 0 4rem 6rem;
  background: #fff;
}
  
h1 {
  text-align: center;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  height: 90%;
}

.cards__wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 50px 16px;
  padding: 0 50px;
}

@media screen and (max-width: 1470px) {
  /* .page {
    height: calc(200vh - 80px);
  } */

  .cards__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .cards__wrapper {
    grid-template-columns: 1fr;
  }
}